.settings {
    background-color: #27ae60;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
    text-align: center;
  }
  
  .settings button {
    background: white;
    color: #27ae60;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }